<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Defender #<%= @defender.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/defenders" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link defender start -->
      <div class="col">
        <a href="/defenders/<%= @defender.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit defender
        </a>
      </div>
      <!-- Edit link defender end -->

      <!-- Delete link defender start -->
      <div class="col">
        <a href="/delete_defender/<%= @defender.id %>" class="btn btn-block btn-outline-secondary">
          Delete defender
        </a>
      </div>
      <!-- Delete link defender end -->
    </div>

    <dl>
      <dt>
        Position
      </dt>
      <!-- Display position_id start -->
      <dd>
        <%= @defender.position_id %>
      </dd>
      <!-- Display position_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@defender.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@defender.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
