<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Midfielder #<%= @midfielder.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/midfielders" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/midfielders/<%= @midfielder.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit midfielder
        </a>
      </div>

      <div class="col">
        <a href="/delete_midfielder/<%= @midfielder.id %>" class="btn btn-block btn-outline-secondary">
          Delete midfielder
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Position
      </dt>
      <dd>
        <% if @midfielder.position.present? %>
          <a href="/positions/<%= @midfielder.position_id %>">
            <%= @midfielder.position.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@midfielder.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@midfielder.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

