<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Position #<%= @position.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/positions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/positions/<%= @position.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit position
        </a>
      </div>

      <div class="col">
        <a href="/delete_position/<%= @position.id %>" class="btn btn-block btn-outline-secondary">
          Delete position
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@position.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@position.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "position_templates/position_players" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "position_templates/position_goalkeepers" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "position_templates/position_defenders" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "position_templates/position_midfielders" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "position_templates/position_forwards" %>
  </div>
</div>
